# Binaries and executables
*.o
*.a
*.out

# Build directories
build/
apps/*/build/
libs/*/build/

# Editor/IDE specific files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
node_modules/